.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh; /* Puedes ajustar esto si deseas que ocupe más o menos espacio en pantallas grandes */
  padding: 2em; /* Reducido en pantallas más pequeñas */
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
  text-align: center; /* Para centrar el texto */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .jumbotron {
    height: 40vh; /* Menos altura en pantallas más pequeñas */
    padding: 1.5em;
  }
}

/* Media Queries para móviles */
@media (max-width: 480px) {
  .jumbotron {
    height: 30vh; /* Aún menos altura en móviles */
    padding: 1em;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.category-title {
  font-size: 40px;
  font-weight: 700;
}

.card-title-h5,
.card-price {
  font-size: 20px;
}

.card-title-h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card-description {
  font-size: 16px;
  color: #68717a;
}

.card-price {
  font-weight: 700;
}

.card-sold-count {
  font-size: 12px;
  color: #68717a;
}

/* MEDIA QUERIES */

/* Ancho para dispositivos pequeños (sm: ≥576px) */
@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
}

/* Ancho para dispositivos medianos (md: ≥768px) */
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-100 {
    width: 100% !important;
  }
}

/* Ancho para dispositivos grandes (lg: ≥992px) */
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-100 {
    width: 100% !important;
  }
}

/* Ancho para dispositivos extra grandes (xl: ≥1200px) */
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }
  .w-xl-50 {
    width: 50% !important;
  }
  .w-xl-75 {
    width: 75% !important;
  }
  .w-xl-100 {
    width: 100% !important;
  }
}

/* Ancho para dispositivos extra extra grandes (xxl: ≥1400px) */
@media (min-width: 1400px) {
  .w-xxl-25 {
    width: 25% !important;
  }
  .w-xxl-50 {
    width: 50% !important;
  }
  .w-xxl-75 {
    width: 75% !important;
  }
  .w-xxl-100 {
    width: 100% !important;
  }
}

/* Estilos para el Modo Noche */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #333;
}

body.dark-mode .form-control {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #333;
}

body.dark-mode select.form-select {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #333;
}

/* Estilos para inputs en CART.HTML */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input.no-edit[readonly] {
  background-color: white;
  color: inherit;
  cursor: default;
}
